

<h2>Test Form</h2>
<button (click)="addCreds()">Add</button>
<button (click)="removeAllCreds()">Remove All</button>
<form [formGroup]="form">
  <input type="checkbox" formControlName="published"> Published
  <div *ngIf="form.controls.published.value">


    <div formArrayName="credentials" *ngFor="let creds of form.controls.credentials?.value; let i = index">
      <ng-container [formGroupName]="i">
        <input placeholder="Username" formControlName="username">
        <input placeholder="Password" formControlName="password">
        <button type="button" (click)="removeRow(i)">Remove Row</button>
      </ng-container>
    </div>

    <pre>{{form.value | json}}</pre>
  </div>
</form>

<button (click)="saveCreds()">Save</button>
<pre>{{title}}</pre>
